<form [formGroup]="form">
    <input type="checkbox" formControlName="multiple">
        <span class="code" *ngIf="inlineRange">
        {{ inlineRange.begin | date }}
        {{ inlineRange.end | date }}
      </span>

      <div class="inlineCalendarContainer">
        <sat-calendar [rangeMode]="true"
                      (dateRangesChange)="inlineRangeChange($event)"
                      [selected]="selectedDate"
                      [multiple]="form.get('multiple').value">
        </sat-calendar>
      </div>
</form>
