<form [formGroup]="form">
    <input type="checkbox" formControlName="multiple">
        <span class="code" *ngIf="inlineRange">
        {{ inlineRange.begin | date }}
        {{ inlineRange.end | date }}
      </span>

      <div class="inlineCalendarContainer">
        <sat-calendar [rangeMode]="true"
                      (dateRangesChange)="inlineRangeChange($event)"
                      [selected]="selectedDate"
                      [multiple]="form.get('multiple').value">
        </sat-calendar>
      </div>
</form>
<br>
January - 31 days
<br>
February - 28 days in a common year and 29 days in leap years
<br>
March - 31 days
<br>
April - 30 days
<br>
May - 31 days
<br>
<br>
June - 30 days
<br>
July - 31 days
<br>
August - 31 days
<br>
September - 30 days
<br>
October - 31 days
<br>
November - 30 days
<br>
December - 31 days